<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

            <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-sky-100 dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Academic Degrees
                </h2>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-3">

            <div [hidden]="!showadditem">
                <button  
                    (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                    class="ml-4"
                    mat-stroked-button
                    type="button"
                    [color]="'primary'">
                    Cancel
                </button>
            </div>
            <button  
                (click)="onShowAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                [disabled]="showadditem"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">
                Add Degree
            </button>
        </div>

    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card bg-slate-50">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">

            <!-- Add Form -->
            <div [hidden]="!showadditem">

                <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                    Add Academic Degree
                </h2>

                <form #addItemForm="ngForm">

                    <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">

                        <div class="form-group">
                      
                            <mat-form-field appearance="fill" class="min-w-50 mr-5">
                                <mat-label>State</mat-label>
                                <mat-select required (selectionChange)="onStateChange($event)">
                                  <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                    {{state.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Name of Institution</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:office-building'"
                                    matPrefix></mat-icon>
                                    <input type="text"
                                    id="institution" 
                                    class="form-control"
                                    placeholder="Start Typing for Suggestions" 
                                    #name="ngModel"
                                    (ngModelChange)="applyFilterSchools($event)"
                                    [(ngModel)]="model.institution" name="institution"
                                    [matAutocomplete]="autocomaddschool"
                                    required
                                    matInput>
                                    <!-- [formControl]="myControl" -->
                                    <mat-autocomplete #autocomaddschool="matAutocomplete">
                                        <mat-option *ngFor="let option of schoolfilteredData" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                            </mat-form-field>                    
                        </div>                
                    </fuse-card>

                    <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">

                        <div class="form-group">

                            <mat-form-field appearance="fill" class="mr-5">
                                <mat-label>Degree Level</mat-label>
                                <mat-select required (selectionChange)="onDegreeLevelChanged($event)">
                                  <mat-option *ngFor="let degreelevel of degreelevels" [value]="degreelevel.level">
                                    {{degreelevel.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Degree Type</mat-label>
                                <mat-select required>
                                  <mat-option *ngFor="let degreetype of degreetypesfilteredData" [value]="degreetype.name">
                                    {{degreetype.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                        </div>

                        <div class="form-group">

                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Major Field of Study</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:academic-cap'"
                                    matPrefix></mat-icon>
                                    <input type="text"
                                    id="major" 
                                    class="form-control"
                                    placeholder="Start Typing for Suggestions" 
                                    #name="ngModel"
                                    (ngModelChange)="applyFilterFields($event)"
                                    [(ngModel)]="model.major" 
                                    name="major"
                                    [matAutocomplete]="autocomaddmajor"
                                    required
                                    matInput>
                                    <!-- [formControl]="myControl" -->
                                    <mat-autocomplete #autocomaddmajor="matAutocomplete">
                                        <mat-option *ngFor="let option of fieldfilteredData" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                            </mat-form-field>


                        </div>

                        <div class="form-group mt-5">

                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Minor Field of Study</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:book-open'"
                                    matPrefix></mat-icon>
                                    <input type="text"
                                    id="minor" 
                                    class="form-control"
                                    placeholder="Start Typing for Suggestions" 
                                    #name="ngModel"
                                    (ngModelChange)="applyFilterFields($event)"
                                    [(ngModel)]="model.minor" 
                                    name="minor"
                                    [matAutocomplete]="autocomaddminor"
                                    matInput>
                                    <!-- [formControl]="myControl" -->
                                    <mat-autocomplete #autocomaddminor="matAutocomplete">
                                        <mat-option *ngFor="let option of fieldfilteredData" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                            </mat-form-field>

                        </div>

                    </fuse-card>

                    <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">

                        <div class="form-group mt-5">

                            <mat-checkbox 
                            [(ngModel)]="model.completed"
                            name="graddate"
                            #name="ngModel"
                            class="form-control"
                            (change)="onCompletedChecked($event)">Academic Requirements Completed</mat-checkbox>
                        
                        </div>

                        <div class="form-group mt-10">

                            <mat-form-field appearance="fill"  class="min-w-50">
                                <mat-label>{{gradDate}}</mat-label>
                                <input matInput [matDatepicker]="addpicker" 
                                (dateChange)="onDateChange($event, addpicker)"
                                name="awardedon"  
                                id="awardedon"
                                class="form-control"
                                required>
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="addpicker"></mat-datepicker-toggle>
                                <mat-datepicker #addpicker startView="year"></mat-datepicker>
                            </mat-form-field>
            
                        </div>

                                <!-- Spacer -->
                                <div class="mt-5"></div>

                                <!-- Actions -->
                                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                                    <button  
                                        (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                                        class="ml-4"
                                        mat-stroked-button
                                        type="button"
                                        [color]="'primary'">
                                        Cancel
                                    </button>

                                    <button  
                                        (click)="addItemForm.resetForm(); editItemForm.resetForm();"
                                        [disabled]="!addItemForm.form.valid" 
                                        class="ml-4"
                                        mat-flat-button
                                        type="button"
                                        [color]="'primary'">
                                        Submit Education
                                    </button>
                    
                                </div>
                            
                    </fuse-card>
                </form>
            </div>  

            <form #editItemForm="ngForm">
            </form>

        </div>
        
    </div>

</div>
