<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

            <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-sky-100 dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Home</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Public Profile</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Overview</span>
                    </div>
                </div>

            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Public Profile
                </h2>
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card bg-slate-50">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">


           {{user?.name}}

           {{user?.email}}

           <!-- Awards -->
            <div *ngFor="let award of (user?.awards | keyvalue)">
                {{user?.awards[award.key]?.name}}
                {{user?.awards[award.key]?.description}}
                {{user?.awards[award.key]?.awardedby}}
                {{user?.awards[award.key]?.awardedon | date: 'MM/dd/yyyy' }}
                {{user?.awards[award.key]?.created | date: 'MM/dd/yyyy' }}
                {{user?.awards[award.key]?.modified | date: 'MM/dd/yyyy' }}
            </div>

           <!-- Talents -->
            <div *ngFor="let talent of (user?.talents | keyvalue)">
                {{user?.talents[talent.key]?.name}}
                {{user?.talents[talent.key]?.description}}
                {{user?.talents[talent.key]?.created | date: 'MM/dd/yyyy' }}
                {{user?.talents[talent.key]?.modified | date: 'MM/dd/yyyy' }}
            </div>

           <!-- Training -->
            <div *ngFor="let training of (user?.training| keyvalue)">
                {{user?.training[training.key]?.name}}
                {{user?.training[training.key]?.description}}
                {{user?.training[training.key]?.awardedby}}
                {{user?.training[training.key]?.awardedon | date: 'MM/dd/yyyy' }}
                {{user?.training[training.key]?.created | date: 'MM/dd/yyyy' }}
                {{user?.training[training.key]?.modified | date: 'MM/dd/yyyy' }}
            </div>


           <!-- Certifications -->
            <div *ngFor="let certification of (user?.certifications | keyvalue)">
                {{user?.certifications[certification.key]?.name}}
                {{user?.certifications[certification.key]?.description}}
                {{user?.certifications[certification.key]?.awardedby}}
                {{user?.certifications[certification.key]?.awardedon | date: 'MM/dd/yyyy' }}
                {{user?.certifications[certification.key]?.expireson | date: 'MM/dd/yyyy' }}
                {{user?.certifications[certification.key]?.created | date: 'MM/dd/yyyy' }}
                {{user?.certifications[certification.key]?.modifed | date: 'MM/dd/yyyy' }}
            </div>

           <!-- Degrees -->
            <div *ngFor="let degree of (user?.degrees | keyvalue)">
                {{user?.degrees[degree.key]?.state}}
                {{user?.degrees[degree.key]?.institution}}
                {{user?.degrees[degree.key]?.degreelevel}}
                {{user?.degrees[degree.key]?.degreetype}}
                {{user?.degrees[degree.key]?.major}}
                {{user?.degrees[degree.key]?.minor}}            
                {{user?.degrees[degree.key]?.completed}}
                {{user?.degrees[degree.key]?.awardedon | date: 'MM/dd/yyyy' }}
                {{user?.degrees[degree.key]?.created | date: 'MM/dd/yyyy' }}
                {{user?.degrees[degree.key]?.modifed | date: 'MM/dd/yyyy' }}

            </div>

        </div>
        


    </div>

</div>